
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FileUpload</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-responsive.min.css")" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <div> 
    </div>
    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" action="/QuestionImage/UploadFiles/" method="POST" enctype="multipart/form-data">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="span7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="icon-white icon-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-white icon-upload"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-white icon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-white icon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" class="toggle">
                <!-- The loading indicator is shown during file processing -->
                <span class="fileupload-loading"></span>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
        <input type="hidden" name="QuestionId" value="<%=Id%>">
    </form>
    <script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.iframe-transport.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.fileupload.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.fileupload-process.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.fileupload-image.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.fileupload-validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.fileupload-ui.js")" type="text/javascript"></script>
</body>
</html>
